/* google font */
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@400;500&display=swap');
/* -------- common styles -------*/
body{
    background-color: white;
    font-family: 'Lora', serif;
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    width: 1050px;
    
}
/* Header section css */
header{
    display: flex;
    justify-content: center;
}
.menu{
    display: flex;
    justify-content: space-between;
}
.menu span p{
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;

}
.menu ul{
    display: flex;
}
.menu ul li{
    list-style: none;
    margin-right: 34px;
}
.menu ul li a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
}
.menu ul li a .fas{
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
}
/* influencer journey section css starts*/
.journey{
    display: flex;

}
.influencer-journey{
    margin-right: 50px;
}
.influencer-journey h1{
    font-size: 52px;
    font-weight: bold;
    margin-top: 0;
}
.influencer-journey p{
    font-size: 16px;
    font-weight: 600;
    margin-top: 0;
}
button{
    justify-content: center;
    width: 196px;
    background-color: #E02C6D;
    padding: 10px 24px;
    border-radius: 41px;
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
    border-color: #E02C6D;
}
button:hover{
    transform: scale(1.1);
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}
button a{
    text-decoration: none;
    color: white;
}
.fas{
    color: white;
    font-size: 16px;
    width: 24px;
    margin-left: 8px;
}
.influencer-photo img {
    width: 449px;
    border-radius: 50%;
    background-color: rgba(211, 211, 211, 0.212);
}
.influencer-photo img:hover{
    transform: rotate(360deg);
    transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: ease;
}
/* influencer journey section css ends*/
/* popular collection section css starts */
.collections{
    display: flex;
    flex-direction: column;
}
.collections h2{
    font-size: 28px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}
.popular-collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    margin-bottom: 50px;
}
.collection-1{
    background-color: white;
    padding: 17px 26px 17px 10px;
    box-shadow: 5px 10px 8px 8px #8888882c;
}
.collection-image img{
    width: 293px;
    height: 256px;
    border-radius: 5px;
}
.collection-content h2{
    font-size: 28px;
    font-weight: 500;
    justify-content: left;
    margin-bottom: 0;
    margin-top: 16px;

}
.collection-content h3{
    font-size: 24px;
    font-weight: 400;
    justify-content: left;
    margin-top: 6px;
    margin-bottom: 0;

}
#stars{
    margin-right: 3px;
}
#stars .fas{
    color: #FB8200;
    width: 11px;
    margin-left: 0px;
    margin-right: 3px;
}
#numeric-rating{
    font-size: 14px;
    font-weight: 700;
    color: #5E6366;
    margin-left: 5px;
}
.collection-content p{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0;
}
.bottom a{
    display: flex;
    color: #E02C6D;
    float: right;
    text-decoration: none;
}
.bottom-text h4{
    font-size: 16px;
    font-weight: 700;
    margin-top: 0;
}
.bottom-sign .fas{
    color: #E02C6D;

}
/* popular collection section ends */
/* my own section css start*/
.most-searched-gears{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.most-searched-gears .collection-1{
    display: inline-flex;
}
.most-searched-gears .collection-1 .collection-image img{
    width: 250px;
}
.most-searched-gears .collection-1 .collection-content{
    margin-left: 5px;
}
#Buy-now{
    margin-top: 20px;
    background-color: gray;
    border-color: gray;
    margin-left: 5px;
}
#Buy-now:hover{
    transform: scale(1.1);
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}
#next-page{
    margin-top: 20px;
}
/* my own section css ends */
/* footer section css starts */
.footer-info{
    background-color: black;
    color: white;
    text-align: center;
}
.footer-info h2{
    font-size: 24px;
    font-weight: 700;
    padding-top: 50px;
}
.footer-info p{
    font-size: 14px;
    font-weight: 700;
    color: #D9DBE1;
}
.footer-info ul{
    display: flex;
    justify-content: center;
}
.footer-info ul li{
    list-style: none;
    margin-right: 20px;
    padding-bottom: 50px;
}
.footer-info ul li a {
    text-decoration: none;
    color: white;
}
/* footer section css ends */
/* rsponsive for mobile  */
@media only screen and (max-width:688px){
    .container{
        width: 100%;
    }
    .menu{
        display: flex;
        flex-direction: column;

    }
    .journey{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .collections{
        display: flex;
        flex-direction: column;

    }
    .popular-collections{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    .most-searched-gears{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-info{
        background-color: black;
        color: white;
        text-align: center;
    }
}
/* rsponsive for tablet  */
@media only screen and (min-width:688px) and (max-width: 992px){
    .container{
        width: 100%;
    }
    .menu{
        display: flex;
        flex-direction: column;

    }
    .journey{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .collections{
        display: flex;

    }
    .popular-collections{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    .most-searched-gears{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .footer-info{
        background-color: black;
        color: white;
        text-align: center;
    }
}
